@model ClockIn_ClockOut.Models.ClockEventModel

@{
    ViewData["Title"] = "Clock in/Clock out";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <button class="btn btn-primary">Clock in</button>
    <button class="btn btn-primary">Clock out</button>

    <br /><br />

    <button class="btn btn-primary">See all clock events</button>
</div>
