@model ClockIn_ClockOut.Models.ClockEventModel

@{
    ViewData["Title"] = "Clock in/Clock out";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <p>@Model.SuccessMessage</p>
    }

    <a class="btn btn-primary" asp-controller="ClockEvents" asp-action="Create" asp-route-teacherName="@Model.TeacherName">Register clock event</a>

    <br /><br />

    <a class="btn btn-primary">See all clock events</a>
</div>
